
@{
    ViewBag.Title = "FileDownload";
}

<h3>FileDownload靶场</h3>
<ul>
    
    <span>:<a target="_blank" href='@Url.Action("Download", "File")?fileName=test.txt'>./File/Download?fileName=test.txt</a></span>
</ul>

