@{
    ViewBag.Title = "Redirect";
}

<h3>Url Redirect靶场</h3>
<ul>
    <li>Return Redirect重定向</li>
    <span>Redirect(url):<a target="_blank" href="./redirect?url=/Vulns/xss">./redirect?url=/Vulns/xss</a></span>
    <li>Response.Redirect重定向</li>
    <span>Response.Redirect("xxx/xxx"):<a target="_blank" href="./redirect?url=/Vulns/xss&mode=resp">./redirect?url=/Vulns/xss&mode=resp</a></span>
</ul>

