@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>雳鉴插桩式IAST测试用例集合</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js" charset="utf-8"></script>
    <style media="screen">


        thead tr td {
            background-color: #f1f1f1
        }
    </style>
</head>
<body>
    <div ng-app="myapp" ng-controller="main">
        <div class="container" id="main">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h3 class="text-center">雳鉴插桩式IAST测试用例集合</h3>
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>测试用例</td>
                                <td>用例路径</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in testcases">
                                <td>{{a.name}}</td>
                                <td><a target="_blank" ng-href="{{a.path}}">{{a.path}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    var app = angular.module('myapp', []);

        app.controller('main', ['$scope', '$http',
            function ($scope, $http) {

                $scope.testcases = [
                    { "name": "001 - 遍历目录", "path": '/Vulns/dir' },
                    { "name": "002 - XSS反射型", "path": '/Vulns/xss'},
                    { "name": "003 - XSS存储型", "path": '/Vulns/xss2'},
                    { "name": "004 - SQLi - MySql", "path": '/Vulns/sql' },
                    { "name": "005 - log注入", "path": '/Vulns/log' },
                    { "name": "006 - Xpath注入", "path": '/Vulns/xpath' },
                    { "name": "007 - SSRF", "path": '/Vulns/ssrf' },
                    { "name": "008 - URL Redirect", "path": '/Vulns/redirect' },
                    { "name": "009 - Ldap注入", "path": '/Vulns/ldapLogin' },
                    { "name": "010 - XXE", "path": '/Vulns/xxe' },
                    { "name": "011 - 不安全的反序列化(core 暂不支持)", "path": '/Vulns/deserialization' },
                    { "name": "012 - 命令执行", "path": '/Vulns/command' },
                    { "name": "013 - 任意文件上传漏洞", "path": '/Vulns/fileUpload' },
                    { "name": "014 - 任意文件下载漏洞", "path": '/Vulns/fileDownload' },
                    { "name": "015 - HTTP头部注入", "path": '/Vulns/headerInjection' },
                    { "name": "016 - gdpr个人隐私数据泄漏", "path": '/Vulns/gdpr' }
                ]

            }
        ]);</script>
</body>
</html>
